<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>webpack starterkit</title>
</head>
<body>

  <div class="corona-tracker">
    <input class="input-country">
    <div class="countries">
      <ul>

      </ul>
    </div>


  </div>

  <!--line chart-->
  <div class="chart-container" style="position: relative; width:700px">
    <canvas id="myChart" width="500" height="300"></canvas>
  </div>

  <!--Map-->
  <div id="chartdiv"></div>

  <div class="tiles">
    <div class="tile">
      Deaths:
      <p class="tile__deaths"></p>
    </div>
    <div class="tile">
      Confirmed:
      <p class="tile__confirmed"></p>
    </div>
    <div class="tile">
      Active:
      <p class="tile__active"></p>
    </div>
    <div class="tile">
      Recovered:
      <p class="tile__recovered"></p>
    </div>
  </div>

</body>
</html>
