/**
 * Variables
*/

$main-spacing: 10px;

/* Typography */
$small-font-size: 16px;
$base-font-size: 14px;

/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;


$header-height: 70px;
$header-background-color: #0F2642;
$logo-text-color: #EC5469;
$logo-font-family: 'Cabin';
$logo-font-size: 18px;


/* Components */
