
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $foreground-color;
  border-radius: 20px;
  position: relative;
  width: 99vw;
  margin: 90px auto;



  &__current-country {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 20%;
    max-width: 200px;

    &__image {
      border-radius: 50%;
      //position: absolute;
      transform: translateY(-50%);
      width: 100%;
      max-width: 200px;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }

    &__name {
      font-family: $logo-font-family;
      text-transform: uppercase;
      font-size: 2rem;
      color: white;
    }


  }

  &__tiles {
    margin-top: $main-spacing * 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    & .tile {
      flex-basis: 40%;
      color: white;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
      text-transform: uppercase;
      border-radius: $main-spacing;
      text-align: center;
      background-color: $header-background-color;
      margin: $main-spacing;
      padding: $main-spacing * 2;
      //color: white;
    }
  }
}