
.data {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-start;

  background-color: $foreground-color;
  border-radius: $main-spacing;
  position: relative;
  width: 99vw;
  margin: 90px auto;



  &__current-country {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;

    &__image {
      transform: translateY(-50%);
      width: 20%;
      border-radius: 50% 50%;
      max-width: 120px;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    }

    &__name {
      transform: translateY(-30%);
      font-family: $logo-font-family;
      text-transform: uppercase;
      font-size: 2rem;
      color: $logo-text-color;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  &__tiles {
    margin-top: $main-spacing * 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;

    & .tile {
      flex-basis: 46%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      margin-bottom: $main-spacing;
      color: white;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
      text-transform: uppercase;
      border-radius: $main-spacing / 2;
      background-color: $header-background-color;
      padding: $main-spacing * 1.5;

      &__left-data {
        &__title {
        color: $grey-text-color;
        font-weight: 600;
        font-size: 0.8rem;
        }
        &__cases {
          font-size: 1.2rem;
        }
      }



      &__right-data {
        display: flex;
        align-items: center;
        font-size: 0.7rem;

        &__icon {
          margin-right: $main-spacing/3;
          font-size: 0.6rem;
        }
      }
    }
  }
  &__chart-container {
    margin: $main-spacing * 2 auto;
    width: 96%;
  }
}